.row-header {
    margin: 0px auto;
    padding: 0px auto;
    /*background-color: aquamarine;*/
}

.row-content {
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
    /*background-color: blue;*/
}

.footer {
    background-color: #cedebd;
    margin: 0px auto;
    padding: 20px 0px 20px 0px
}

.jumbotron {
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background: plum;
    color: floralwhite;
}


/* esto se va a graegar de manera adicional al jubutron q se tenia de bootstrap*/

.address {
    font-size: 80%;
    margin: 0px;
    color: black;
}

@media (max-width: 575px) {
    .desaparece {
        display: none;
    }
}